:root {
    --color-primary: white;
    --color-secondary: rgb(180, 190, 200);
    
    --color-bg: rgb(20, 25, 30);
    --color-bg-light: rgb(30, 35, 40);
    
    --color-border: rgb(40, 40, 40);
    --color-input: rgb(40, 45, 50);
    
    --color-green-light: rgb(23, 46, 49);
    --color-red-light: rgb(53, 34, 38);
}

.body-background {
    background-image: url('/img/bg_dark.svg');   
}

.btn-close {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}