:root {
    --color-text: rgb(180, 190, 200);
    --color-background: rgb(20, 25, 30);
    --color-background-high: rgb(30, 35, 40);
    --color-navbar: rgb(10, 15, 20);
    --color-text-navbar: white;
    --color-highlight: white;
    --color-border: rgb(40, 40, 40);
    --color-input: rgb(40, 45, 50);
    --color-ultra: rgb(55, 113, 200);
}

.body-background {
    background-image: url('/img/bg_dark.svg');   
}