:root {
    --color-text: rgb(110, 120, 130);
    --color-background: rgb(248, 249, 250);
    --color-background-high: white;
    --color-navbar: rgb(10, 15, 20);
    --color-text-navbar: white;
    --color-highlight: black;
    --color-border: rgb(220, 230, 240);
    --color-input: rgb(230, 235, 240);
    --color-ultra: rgb(55, 113, 200);
    --color-green: rgb(38, 166, 154);
    --color-green-light: rgb(216, 237, 236);
    --color-red: rgb(239, 83, 80);
    --color-red-light: rgb(247, 224, 224);
}

.body-background {
    background-image: url('/img/bg_light.svg');   
}