:root {
    --color-primary: black;    
    --color-secondary: rgb(110, 120, 130);
    
    --color-bg: rgb(248, 249, 250);
    --color-bg-light: white;
    
    --color-border: rgb(220, 230, 240);
    --color-input: rgb(230, 235, 240);
}

.body-background {
    background-image: url('/img/bg_light.svg');   
}