/* Variables */

:root {
    --color-ultra: rgb(55, 113, 200);
    
    --color-navbar-text: white;
    --color-navbar-bg: rgb(10, 15, 20);
    
    --color-green: rgb(38, 166, 154);
    --color-red: rgb(239, 83, 80);
    
    --font-small: 12px;
    --font-normal: 14px;
    --font-big: 16px;
    
    --font-h3: 20px;
    --font-h2: 40px;
    --font-h1: 60px;
}

/* Body */

html body {
    font-size: var(--font-normal);
    font-family: Arial, sans-serif !important;
    color: var(--color-primary);
    background-color: var(--color-bg);
    touch-action: pan-x pan-y; /* Fix for user-scallable=no on iOS */
}

/* Containers and document height */

@media (min-width: 1500px) {
    .container-1500 {
        max-width: 1500px;
    }
}

@media (max-width: 991px) {
    .h-rest {
        min-height: calc(100vh - 70px - 53px);
    }
}

@media (min-width: 992px) {
    .h-rest {
        min-height: calc(100vh - 70px);
    }
}

/* Font sizes */

.small {
    font-size: var(--font-small);
}

.big {
    font-size: var(--font-big);
}

.form-control-sm {
    font-size: var(--font-small) !important;
}

.btn-sm {
    font-size: var(--font-small) !important;
    margin: 4px;
}

/* Font colors */

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h4, h5, h6 {
    margin: 0px;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-big);
}

h5 {
    font-size: var(--font-normal);
}

h6 {
    font-size: var(--font-small);
}

/* UI card */

@media (max-width: 991px) {
    .ui-card {
        padding: 10px !important;
    }
}
@media (min-width: 992px) {
    .ui-card {
        padding: 16px !important;
    }
}

.ui-card-light {
    background-color: var(--color-bg-light);
}

.ui-card-ver ~ .ui-card-ver {
    border-top: 1px solid var(--color-border);
}

.ui-card-hor ~ .ui-card-hor {
    border-left: 1px solid var(--color-border);
}

/* UI column */

.ui-column {
    border: 1px solid var(--color-border);
    margin: -1px 0 0 -1px;
}

/* Scrolling */ 

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
}

/* Hoverable */

.hoverable:hover {
    background-color: var(--color-input);
    cursor: pointer;
}

/* Input type text */

input[type=text], input[type=text]:focus, input[type=text][readonly],
input[type=email], input[type=email]:focus, input[type=email][readonly],
input[type=password], input[type=password]:focus, input[type=password][readonly] {
    background-color: var(--color-input);
    border-width: 0px;
    box-shadow: none !important;
    color: var(--color-primary);
    font-size: var(--font-normal);
}

input[type=text], input[type=text][readonly],
input[type=email], input[type=email][readonly],
input[type=password], input[type=password][readonly] {
    outline: none !important;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    outline: 1px solid var(--color-ultra) !important;
}

/* Search input with icon */

.input-search {
    background-image: url('/img/search.svg');
    background-position: 5px 2px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

/* Input with prefix and suffix */

.input-ps-group {
    display: flex;
    align-items: center;
    background-color: var(--color-input);
    border-radius: 4px;
    overflow: hidden;
}

.input-ps-group:focus-within {
    outline: 1px solid var(--color-ultra);
}

.input-ps-group input, .input-ps-group input[type=text]:focus {
    flex-grow: 1;
    color: var(--color-primary);
    text-align: right;
    outline: none !important;
}

.input-ps-group input:disabled {
    background-color: var(--color-input);
}

.input-ps-group .suffix {
    color: var(--color-primary);
}

.input-ps-group span {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Slider */

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track { /* Track */
    background: var(--color-input);
    height: 0.5rem;
}

input[type="range"]::-moz-range-track {
    background: var(--color-input);
    height: 0.5rem;
}
    
input[type="range"]::-webkit-slider-thumb { /* Thumb */
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-secondary);
    height: 1rem;
    width: 1rem;    
}
    
input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: var(--color-secondary);
    height: 1rem;
    width: 1rem;
}

.range-value {
    position: relative;
}

/* Links */

.link-ultra {
    color: var(--color-ultra);
    text-decoration: none;
}

.nav-link {
    color: var(--color-secondary);
}

.nav-link:hover {
    color: var(--color-ultra);
}

.nav-link.active {
    color: var(--color-ultra);
    font-weight: 600;
}

.nav-deco .nav-link.active {
    text-decoration: solid underline var(--color-ultra) 3px;
}

/* Master navbar */

.navbar-master {
    background-color: var(--color-navbar-bg) !important;
}

.navbar-master .nav-link {
    color: var(--color-navbar-text) !important;
    font-weight: 600;
}

@media (max-width: 991px) {
    .navbar-master .navbar-collapse {
        height: 100vh;
        font-size: var(--font-big);
    }
    
    .navbar-master .dropdown-menu {
        background-color: var(--color-navbar-bg);
        border: none;
    }
    
    .navbar-master .dropdown-divider {
        border-top: 1px solid var(--color-navbar-text);
    }

    .navbar-master .dropdown-menu .dropdown-divider {
        border-top: 1px solid var(--color-secondary);
    }
}

/* Fix for dropdown out of screen */

.dropdown-menu-end {
  right: 0;
  left: auto;
}

/* Reverse rows order */

.reverse-rows {    
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

/* Hover div to expand inner div */

.hover-to-expand .expand {
    display: none;
}

.hover-to-expand:hover .expand {
    display: block;
}

/* Preloader */

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--color-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

.preloader img {
    width: 120px;
}

/* Button */

.btn-primary {
    background-color: var(--color-ultra);
    font-size: var(--font-normal);
}

/* Coin / net / address selector */

#select-coin-wrapper, #select-net-wrapper, #select-adbk-wrapper {
    max-width: 100%;
    position: relative;
}

#select-coin-dropdown, #select-net-dropdown, #select-adbk-dropdown {
    display: none;
    position: absolute;
    background-color: var(--color-bg-light);
    z-index: 1000;
    width: 100%;
    border: 1px solid var(--color-border);
    padding: 10px;
}

#select-coin-dropdown > input {
    margin-bottom: 10px;
}

#select-coin-data, #select-net-data, #select-adbk-data {
    max-height: 250px;
}

input#select-coin, input#select-net, input#select-adbk {
    cursor: pointer;
    max-width: 100%;
    width: 100%;
}

.select-coin-item, .select-net-item, .select-adbk-item {
    cursor: pointer;
}

.select-arrow {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.select-arrow > i {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Flip 180deg */

.flippable {
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.flip {
    transform: rotate(180deg);
}

/* QR code on white background */

.qrcode-wrapper {
    background-color: white;
    padding: 16px;
}

/* Modals */

.modal-content {
    background-color: var(--color-bg-light);
}

.modal-header {
    border-bottom: 1px solid var(--color-border);
    color: var(--color-secondary);
}

.modal-footer {
    border-top: 1px solid var(--color-border);
}

/* Wrap long text (API key) */

.wrap {
    word-wrap: break-word;
}

/* Bottom mobile menu */

.navbar-mobile {
    background-image: linear-gradient(var(--color-input), var(--color-bg-light));
    border-top: 1px solid var(--color-border);
    padding-bottom: min(10px, env(safe-area-inset-bottom, 0)) !important;
    z-index: 900;
}

/* Dropdown menu */

.dropdown-menu {
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-border);
}

.dropdown-item {
    color: var(--color-secondary);
}

.dropdown-divider {
    border-top: 1px solid var(--color-border);
    opacity: 1;
}

/* Jumbotron */

.jumbotron p {
    font-size: var(--font-big);
    color: var(--font-secondary);
}

.jumbotron > * {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Trading colors */

.text-green {
    color: var(--color-green) !important;
}

.text-red {
    color: var(--color-red) !important;
}

.bg-green {
    background-color: var(--color-green) !important;
}

.bg-red {
    background-color: var(--color-red) !important;
}

.border-green {
    border-color: var(--color-green) !important;
}

.border-red {
    border-color: var(--color-red) !important;
}

.btn.bg-green, .btn.bg-red {
    color: var(--color-primary);
}

/* Footer */

footer {
    background-color: var(--color-navbar-bg);
}

/* Social icons */

.social-icon {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
}

.social-icon i {
    vertical-align: middle;
}

.social-icon.twitter:hover {
    color: rgb(29, 155, 240);
}

.social-icon.discord:hover {
    color: rgb(88, 101, 242);
}

/* Add background to any element */

.background {
    background-color: var(--color-bg);
}

/* Hide items in expanded on mobile master navbar */

@media (max-width: 991px) {
    .navbar-master .not-in-expanded-master-navbar {
        display: none !important;
    }
}

/* More order-* classes */

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.order-13 {
    order: 13;
}

.order-14 {
    order: 14;
}

.order-15 {
    order: 15;
}

.order-16 {
    order: 16;
}

.order-17 {
    order: 17;
}

.order-18 {
    order: 18;
}

.order-19 {
    order: 19;
}

.order-20 {
    order: 20;
}

@media (min-width: 992px) {
    .order-lg-6 {
        order: 6 !important;
    }

    .order-lg-7 {
        order: 7 !important;
    }

    .order-lg-8 {
        order: 8 !important;
    }

    .order-lg-9 {
        order: 9 !important;
    }

    .order-lg-10 {
        order: 10 !important;
    }

    .order-lg-11 {
        order: 11 !important;
    }

    .order-lg-12 {
        order: 12 !important;
    }
    
    .order-lg-13 {
        order: 13 !important;
    }
    
    .order-lg-14 {
        order: 14 !important;
    }
    
    .order-lg-15 {
        order: 15 !important;
    }
    
    .order-lg-16 {
        order: 16 !important;
    }
    
    .order-lg-17 {
        order: 17 !important;
    }
    
    .order-lg-18 {
        order: 18 !important;
    }
    
    .order-lg-19 {
        order: 19 !important;
    }
    
    .order-lg-20 {
        order: 20 !important;
    }
}

/* Blink red animation */

.blink-red {
  animation: blink-red 1s;
}

@keyframes blink-red {
    0% {
        color: inherit;
    }
    10% {
        color: var(--color-red);
    }
    40% {
        color: var(--color-red);
    }
    50% {
        color: inherit;
    }
    60% {
        color: var(--color-red);
    }
    90% {
        color: var(--color-red);
    }
    100% {
        color: inherit;
    }
}