[submodule "asset-icons"]
	path = asset-icons
	url = git@github.com:infinex-exchange/asset-icons.git
[submodule "charting_library"]
	path = charting_library
	url = git@github.com:infinex-exchange/charting_library.git
[submodule "exchange/bridge"]
	path = exchange/bridge
	url = git@github.com:infinex-exchange/webapp-bridge
[submodule "exchange/dex"]
	path = exchange/dex
	url = git@github.com:infinex-exchange/webapp-dex
[submodule "exchange/mining"]
	path = exchange/mining
	url = git@github.com:infinex-exchange/webapp-mining
[submodule "exchange/p2p"]
	path = exchange/p2p
	url = git@github.com:infinex-exchange/webapp-p2p
[submodule "exchange/nft"]
	path = exchange/nft
	url = git@github.com:infinex-exchange/webapp-nft
[submodule "exchange/gamble"]
	path = exchange/gamble
	url = git@github.com:infinex-exchange/webapp-gamble
