[submodule "asset-icons"]
	path = asset-icons
	url = git@github.com:vayamos-exchange/asset-icons.git
[submodule "charting_library"]
	path = charting_library
	url = git@github.com:vayamos-exchange/charting_library.git
[submodule "exchange/bridge"]
	path = exchange/bridge
	url = git@github.com:vayamos-exchange/webapp-bridge
[submodule "exchange/dex"]
	path = exchange/dex
	url = git@github.com:vayamos-exchange/webapp-dex
[submodule "exchange/mining"]
	path = exchange/mining
	url = git@github.com:vayamos-exchange/webapp-mining
[submodule "exchange/p2p"]
	path = exchange/p2p
	url = git@github.com:vayamos-exchange/webapp-p2p
[submodule "exchange/nft"]
	path = exchange/nft
	url = https://github.com/vayamos-exchange/webapp-nft
