RewriteEngine on

RewriteRule ^account/register/?$ /account/register.php [L]
RewriteRule ^account/verify/?$ /account/verify.php [L]
RewriteRule ^account/login/?$ /account/login.php [L]
RewriteRule ^account/forget/?$ /account/forget.php [L]

RewriteRule ^wallet/?$ /wallet/overview.php [L]
RewriteRule ^wallet/deposit/?$ /wallet/deposit.php [L]
RewriteRule ^wallet/withdraw/?$ /wallet/withdraw.php [L]

RewriteRule ^spot/?$ /exchange/spot/index.php [L]
RewriteRule ^spot/css/([^/]+)$ /exchange/spot/css/$1 [L]
RewriteRule ^spot/js/([^/]+)$ /exchange/spot/js/$1 [L]
RewriteRule ^spot/([^/]+)/?$ /exchange/spot/index.php/$1 [L]