Options -MultiViews -Indexes

RewriteEngine on

RewriteRule ^account/register/?$ /account/register.php [L]
RewriteRule ^account/verify/?$ /account/verify.php [L]
RewriteRule ^account/login/?$ /account/login.php [L]
RewriteRule ^account/forget/?$ /account/forget.php [L]
RewriteRule ^account/security/?$ /account/security.php [L]
RewriteRule ^account/api/?$ /account/api.php [L]
RewriteRule ^account/affiliate/?$ /account/affiliate.php [L]

RewriteRule ^wallet/?$ /wallet/overview.php [L]
RewriteRule ^wallet/deposit/([^/]+)/?$ /wallet/deposit.php [L]
RewriteRule ^wallet/deposit/?$ /wallet/deposit.php [L]
RewriteRule ^wallet/withdraw/([^/]+)/?$ /wallet/withdraw.php [L]
RewriteRule ^wallet/withdraw/?$ /wallet/withdraw.php [L]
RewriteRule ^wallet/transactions/?$ /wallet/transactions.php [L]
RewriteRule ^wallet/addressbook/?$ /wallet/addressbook.php [L]

RewriteRule ^spot/?$ /exchange/spot/index.php [L]
RewriteRule ^spot/css/([^/]+)$ /exchange/spot/css/$1 [L]
RewriteRule ^spot/js/([^/]+)$ /exchange/spot/js/$1 [L]
RewriteRule ^spot/([^/]+)/?$ /exchange/spot/index.php [L]

RewriteRule ^bridge/?$ /exchange/bridge/index.php [L]
RewriteRule ^bridge/css/([^/]+)$ /exchange/bridge/css/$1 [L]
RewriteRule ^bridge/js/([^/]+)$ /exchange/bridge/js/$1 [L]
RewriteRule ^bridge/img/([^/]+)$ /exchange/bridge/img/$1 [L]
RewriteRule ^bridge/([^/]+)/?$ /exchange/bridge/index.php [L]

RewriteRule ^ico/([^/]+)$ /asset-icons/$1 [L]

RewriteRule ^info/announcements/?$ /info/announcements.php [L]
RewriteRule ^info/fees/?$ /info/fees.php [L]
RewriteRule ^info/trading-rules/?$ /info/trading_rules.php [L]
RewriteRule ^info/listing/?$ /info/listing.php [L]

RewriteRule ^error/403/?$ /error/403.php [L]
RewriteRule ^error/404/?$ /error/404.php [L]
RewriteRule ^error/500/?$ /error/500.php [L]

ErrorDocument 403 http://%{HTTP_HOST}/error/403
ErrorDocument 404 http://%{HTTP_HOST}/error/404
ErrorDocument 500 http://%{HTTP_HOST}/error/404