/* Init variables */

:root {
    --emulated-100vh: 100vh;
    --height-main-nav: 0px;
    --height-mobile-header: 0px;
    --height-desktop-header: 0px;
    --height-trading-form: 0px;
    --height-status-bar: 0px;
    --height-mobile-nav: 0px;
    --target-height-orderbook-side: 0px;
    --target-height-orderbook-side-sm: 0px;
    --target-height-markets-data: 0px;
    --target-height-trades-data: 0px;
    --target-height-orders-data: 0px;
}

/* Reverse sell orderbook on mobile */

@media (max-width: 991px) {
    #orderbook-sell {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    
    #orderbook-sell .row:hover {
        border-top: none !important;
        border-bottom: 1px dashed var(--color-text);  
    }
}

/* Orderbook */

#orderbook-buy, #orderbook-sell {
    height: var(--target-height-orderbook-side);
    overflow: hidden;
}

@media (max-width: 991px) {
    #orderbook-buy, #orderbook-sell {
        height: var(--target-height-orderbook-side-sm) !important;
    }
}

#orderbook-sell .row {
    background-image: linear-gradient(var(--color-red-light), var(--color-red-light));
    background-repeat: no-repeat;
    background-position: right;
}

#orderbook-buy .row {
    background-image: linear-gradient(var(--color-green-light), var(--color-green-light));
    background-repeat: no-repeat;
    background-position: right;
}

#orderbook-sell .row:hover {
    border-top: 1px dashed var(--color-primary);  
}

#orderbook-buy .row:hover {
    border-bottom: 1px dashed var(--color-primary);
}

/* Markets */

#markets-table {
    height: var(--target-height-markets-data);
}

@media (max-width: 991px) {
    .markets-item img {
        width: 28px;
        height: 28px;
    }
}

.markets-item .change {
	background-color: var(--color-bg-light);
	color: var(--color-primary) !important;
    font-size: var(--font-small);
	border-radius: 10%;
	padding: 3px;
	width: 50px;
	text-align: center;
	display: inline-block;
}

/* Trades */

#trades-data {
    height: var(--target-height-trades-data);
}

/* Orders */

#orders {
    height: 350px;
}

#orders-open-data, #orders-history-data, #trades-history-data {
    display: flex;
    flex-direction: column;
}

#orders-open-data, #orders-history-data, #trades-history-data {
    height: var(--target-height-orders-data);
}

/* Hoverable orderbook */

#orderbook-buy .row:hover, #orderbook-buy .row:hover ~ .row,
#orderbook-sell .row:hover, #orderbook-sell .row:hover ~ .row {
    background-color: var(--color-input);
    cursor: pointer;
}

/* Status bar */

.status-bar {
    background-color: var(--color-bg);
    border-top: 1px solid var(--color-border);
    z-index: 900;
}

/* Expand orders history item */

.orders-history-item.expand-trades {
    background-color: var(--color-bg-light);
}

.orders-history-item .inner {
    display: none;
}

.orders-history-item.expand-trades .inner {
    display: block;
}

/* Fixed bottom trading form on mobile */

@media (max-width: 991px) {
    #trading-form {
        position: fixed;
        right: 0;
        bottom: var(--height-mobile-nav);
        left: 0;
    }
}

/* Js sizing */

.column-height {
    height: calc(
                  var(--emulated-100vh)
                  - var(--height-main-nav)
                  - var(--height-status-bar)
                );
}
    
.half-column-height {
    height: calc(
                  (
                    var(--emulated-100vh)
                    - var(--height-main-nav)
                    - var(--height-status-bar)
                  )
                  / 2
                );
}

.rest-of-height {
    height: calc(var(--emulated-100vh)
                 - var(--height-main-nav)
                 - var(--height-desktop-header)
                 - var(--height-trading-form)
                 - var(--height-status-bar)
                );
}

@media (max-width: 991px) {
    .sm-rest-of-height {
        height: calc(var(--emulated-100vh)
                     - var(--height-main-nav)
                     - var(--height-mobile-header)
                     - var(--height-trading-form)
                     - var(--height-mobile-nav)
                    ) !important;
    }
}

/* Force column height on mobile */

@media (max-width: 991px) {
    .sm-w-50 {
        width: 50% !important;
    }
    
    .sm-w-100 {
        width: 100% !important;
    }
}

/* Open orders, orders history, trades history mobile view */

@media (max-width: 991px) {
    .orders-open-item .pair, .orders-history-item .pair, .trades-history-item .pair, .trades-in-order-item .pair {
        font-size: var(--font-normal);
    }
    
    .orders-open-item .time, .orders-history-item .time, .trades-history-item .time {
        text-align: right;
        color: var(--color-secondary);
    }
    
    .trades-in-order-item .time {
        text-align: right;
    }
    
    .orders-open-item ~ .orders-open-item,
    .orders-history-item ~ .orders-history-item,
    .trades-history-item ~ .trades-history-item,
    .trades-in-order-item ~ .trades-in-order-item {
        border-top: 1px solid var(--color-border);
    }
    
    .orders-history-item .status {
	   background-color: var(--color-bg-light);
	   border-radius: 10%;
	   padding: 3px 8px;
	   text-align: center;
	   display: inline-block;
    }
}

/* Expand / collapse trades in order */

.orders-history-item .expand-button {
    display: inline;
}

.orders-history-item .collapse-button {
    display: none;
}

.orders-history-item.expand-trades .expand-button {
    display: none;
}

.orders-history-item.expand-trades .collapse-button {
    display: inline;
}