/* Init variables */

:root {
    --height-main-nav: 0px;
    --height-mobile-header: 0px;
    --height-desktop-header: 0px;
    --height-trading-form: 0px;
    --height-status-bar: 0px;
    --height-mobile-nav: 0px;
    --target-height-orderbook-side: 0px;
    --target-height-orderbook-side-sm: 0px;
    --target-height-markets-data: 0px;
    --target-height-trades-data: 0px;
}

/* Reverse buy orderbook */

#orderbook-buy {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

/* Reverse sell orderbook on mobile */

@media (max-width: 991px) {
    #orderbook-sell {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    
    #orderbook-sell .row:hover {
        border-top: none !important;
        border-bottom: 1px dashed var(--color-text);  
    }
}

/* Orderbook */

#orderbook-buy, #orderbook-sell {
    height: var(--target-height-orderbook-side);
    overflow: hidden;
}

@media (max-width: 991px) {
    #orderbook-buy, #orderbook-sell {
        height: var(--target-height-orderbook-side-sm) !important;
    }
}

#orderbook-sell .row {
    background-image: linear-gradient(var(--color-red-light), var(--color-red-light));
    background-repeat: no-repeat;
    background-position: right;
}

#orderbook-buy .row {
    background-image: linear-gradient(var(--color-green-light), var(--color-green-light));
    background-repeat: no-repeat;
    background-position: right;
}

#orderbook-sell .row:hover {
    border-top: 1px dashed var(--color-text);  
}

#orderbook-buy .row:hover {
    border-bottom: 1px dashed var(--color-text);
}

/* Markets */

#markets-table {
    height: var(--target-height-markets-data);
}

/* Trades */

#trades-data {
    height: var(--target-height-trades-data);
}

/* Orders */

#orders-open-data, #orders-history-data, #trades-history-data {
    display: flex;
    flex-direction: column;
    height: 250px;
}

/* Hoverable orderbook */

#orderbook-buy .row:hover, #orderbook-buy .row:hover ~ .row,
#orderbook-sell .row:hover, #orderbook-sell .row:hover ~ .row {
    background-color: var(--color-input);
    cursor: pointer;
}

/* Status bar */

.status-bar {
    background-color: var(--color-background);
    border-top: 1px solid var(--color-border);
    z-index: 900;
}

/* Expand orders history item */

.orders-history-item.expand-trades {
    background-color: var(--color-background-high);
}

.orders-history-item .inner {
    display: none;
}

.orders-history-item.expand-trades .inner {
    display: block;
}

/* Fixed bottom trading form on mobile */

@media (max-width: 991px) {
    #trading-form {
        position: fixed;
        right: 0;
        bottom: var(--height-mobile-nav);
        left: 0;
    }
}

/* Js sizing */

.column-height {
    height: calc(
                  100vh
                  - var(--height-main-nav)
                  - var(--height-status-bar)
                );
}
    
.half-column-height {
    height: calc(
                  (
                    100vh
                    - var(--height-main-nav)
                    - var(--height-status-bar)
                  )
                  / 2
                );
}

.rest-of-height {
    height: calc(100vh
                 - var(--height-main-nav)
                 - var(--height-desktop-header)
                 - var(--height-trading-form)
                 - var(--height-status-bar)
                );
}

@media (max-width: 991px) {
    .sm-rest-of-height {
        height: calc(100vh
                     - var(--height-main-nav)
                     - var(--height-mobile-header)
                     - var(--height-trading-form)
                     - var(--height-mobile-nav)
                     - env(safe-area-inset-bottom)
                    ) !important;
    }
}

/* Markets mobile view */

@media (max-width: 991px) {
    
    .markets-item img {
	    width: 28px;
	    height: 28px;
    }
    
    .markets-item .base {
	    color: var(--color-highlight);
	    font-size: var(--font-normal);
    }
    
    .markets-item .change {
	    background-color: var(--color-input);
	    color: var(--color-text) !important;
	    border-radius: 25%;
	    padding: 5px;
    }
    
    .markets-item .change-wrapper {
	    padding-top: 5px;
	    padding-bottom: 5px;
    }
    
    .markets-item .change.text-green {
	    background-color: var(--color-green);
    }
    
    .markets-item .change.text-red {
	    background-color: var(--color-red);
    }
    
}