<footer class="shadow-sm">
    <div class="container-fluid container-1500">
        <div class="row py-2">
            <div class="col-12 col-lg-4 text-center my-auto py-2">
                <a href="/">
                    <img src="/img/logo.svg" alt="Vayamos Exchange" width="160" class="d-inline-block align-text-top">
                </a>
                <br>
                &copy; 2022, Vayamos Exchange
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center my-auto py-2">
                <a class="link-ultra" href="mailto:support@vayamos.cc">
                    <i class="fa-solid fa-envelope"></i>
                    support@vayamos.cc
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center my-auto py-2">
                <a class="social-icon twitter" href="https://twitter.com/VayamosExchange" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="social-icon discord" href="https://discord.gg/Au3SKuhafh" target="_blank">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </div>
        </div>
    </div>    
</footer>