<li class="user-only not-in-expanded-master-navbar">
    <a class="dropdown-item disabled" href="#_">
        <i class="fa-solid fa-circle-user"></i>
        <span class="navbar-user-name"></span>
    </a>
</li>

<li class="user-only not-in-expanded-master-navbar">
    <hr class="dropdown-divider">
</li>

<li class="user-only">
    <a class="dropdown-item auto-active" href="/account/security">
        <i class="fa-solid fa-users"></i>
        Affiliate
    </a>
</li>
<li class="user-only">
    <a class="dropdown-item auto-active" href="/account/security">
        <i class="fa-solid fa-lock"></i>
        Security
    </a>
</li>
<li class="user-only">
    <a class="dropdown-item auto-active" href="/account/api">
        <i class="fa-solid fa-plug"></i>
        API
    </a>
</li>

<li class="user-only">
    <hr class="dropdown-divider">
</li>
                        
<li class="user-only">
    <a class="dropdown-item" href="javascript:logOut()">
        <i class="fa-solid fa-power-off"></i>
        Logout
    </a>
</li>

<li class="guest-only">
    <a class="dropdown-item auto-active" href="/account/login">
        <i class="fa-solid fa-user"></i>
        Login
    </a>
</li>
<li class="guest-only">
    <a class="dropdown-item auto-active" href="/account/register">
        <i class="fa-solid fa-user-plus"></i>
        Register
    </a>
</li>