<li>
    <a class="dropdown-item auto-active" href="/wallet">
        <i class="fa-solid fa-table-list"></i>
        Overview
    </a>
</li>
<li>
    <a class="dropdown-item auto-active" href="/wallet/deposit">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        Deposit
    </a>
</li>
<li>
    <a class="dropdown-item auto-active" href="/wallet/withdraw">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Withdraw
    </a>
</li>
<li>
    <a class="dropdown-item auto-active" href="/wallet/transfer">
        <i class="fa-solid fa-people-arrows"></i>
        Internal transfer
    </a>
</li>
<li>
    <a class="dropdown-item auto-active" href="/wallet/transactions">
        <i class="fa-solid fa-clock-rotate-left"></i>
        Transactions
    </a>
</li>
<li>
    <a class="dropdown-item auto-active" href="/wallet/addressbook">
        <i class="fa-solid fa-address-book"></i>
        Address book
    </a>
</li>
<li>
    <a class="dropdown-item auto-active" href="/nft/wallet">
        <i class="fa-solid fa-image"></i>
        NFT wallet
    </a>
</li>
