<style type="text/css">
    .tx-history-icon-wrapper {
        position: absolute;
        bottom: 0px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color-bg);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hoverable:hover .tx-history-icon-wrapper {
        background-color: var(--color-input);
    }
    
    .tx-history-icon {
        font-size: 16px;
        color: var(--color-ultra);
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-mobile-tx-details">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                    
            <div class="modal-body">
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Type:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-type"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Asset:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-asset"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Network:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-network"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Amount:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-amount"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Status:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-status"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Create time:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-create-time"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Address:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-address"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Memo:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-memo"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Execute time:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-exec-time"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Confirmations:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-confirms"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>TxID:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-txid"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Height:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-height"></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <h5>Fee:</h5>
                    </div>
                    <div class="col-6 text-end">
                        <span id="mtd-fee"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/tx_history.js?<?php echo filemtime(__DIR__.'/../js/tx_history.js'); ?>"></script>        